{% extends 'admin/admin_base.html' %}
{% block content %}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Users</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="avatar">Image</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in users %}
                                <tr>
                                    <td class="avatar">
                                        <div class="round-img-lg">
                                            <a href="/view_user_admin_single?id={{u.id}}"><img class="rounded-circle" src="../static/media/{{u.profile_picture}}" alt=""></a>
                                        </div>
                                    </td> 
                                    <td>  <span class="name">{{u.name}}</span> </td>
                                    <td> <span class="name">{{u.address}}</span> </td>
                                    <td><span class="name">{{u.contact}}</span></td>
                                    <td><span class="name">{{u.email}}</span></td>
                                    <td>                                        
                                        <button type="button" class="btn btn-outline-danger"><a href="/delete_user_admin?id={{u.id}}">Delete</a></button>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div>
    


</div>
</div><!-- .animated -->
</div>

{% if messages %}
{% for m in messages %}
<script>alert("{{m}}")</script>
{% endfor %}
{% endif %}

{% endblock %}